<div >
    <body class="text-center">
        <main class="form-signin">
         
                <div class="mt-4">
                    <img class="mb-4" src="/assets/imagens/65ab872f-fa8e-4b2b-bdd4-376c93f02752_uploads_destacklogo.png" alt="Destack 360" style="margin-right: 19px;">
                    <h1 class="h3 mb-3 fw-normal">Área Restrita</h1>
            
                    <form [formGroup]="loginForm" (ngSubmit)="loginUser()" type="">
                        <p>
                            <div appearance="outline">
                                <label>Email</label>
                                <input autocomplete="off" class="form-control" formControlName="email"  placeholder="E-mail">
                            </div>
                       
                            <div appearance="outline">
                                <label>Password</label>
                                <input autocomplete="off"  class="form-control"  formControlName="password" type="password" placeholder="Senha">
                            </div>
                        
                        <div *ngIf="firebaseErrorMessage != ''" class="error-style">
                            <span>{{ firebaseErrorMessage }}</span>
                        </div>
                
                        <button mat-raised-button color="primary">Login</button>
                        <button mat-raised-button color="primary" routerLink="/signup">
                            <i>person_add</i>
                            <span>Sign up</span>
                        </button>
                    </form>
                    <!---------------<p>Esqueceu a senha?</p>-------->
                    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
                </div>
        </main>   
    </body>    
</div>
<div *ngIf="(user | async)?.accountType == 'admin';">
    <router-outlet>
        <app-home-admin></app-home-admin>
    </router-outlet>
    
    <br>
</div>
    <div *ngIf="(user | async)?.accountType == 'endUser';">
        <router-outlet>
            <app-home-user></app-home-user>
        </router-outlet>

       
    </div>
